.CardEndereco{
    width: 70%;
    margin: auto;
    background-color: rgba(240, 239, 239, 0.89);
    border-radius: 20px;
    margin-top: 20px;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 8px 8px 20px rgb(0,0,0,0.2);
}

.CardEndereco h3{
    margin-left: 20px;
    font-weight: 400;
}