.CampoBusca h1{
    font-family: Arial, Helvetica, sans-serif;

}
.CampoBusca{
    width: 80%;
    margin: auto;
}

.CampoBusca input{
    width: 40%;
    font-size: 16px;
    padding: 16px;
    border: 3px solid #ccc;
    box-sizing: border-box;
    transition: 0.3s;
    outline: none;
}
.CampoBusca input:focus{
    border: 3px solid black;
}



/* CSS */
.CampoBusca button{
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 54px;
  line-height: 1.15;
  margin-left: 8px;
  outline: none;
  overflow: hidden;
  padding: 0px 25px 0px 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 
}

.CampoBusca button:disabled {
  cursor: default;
}

.CampoBusca button:hover{
    background-color: #0e1e79;;
}

